:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --bg: rgb(52, 37, 71);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

nav {
  width: 350px;
  border-bottom-right-radius: 500px;
}

textarea {
	width: 500px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
  resize: none;
  color: whitesmoke;
  margin-top: 20px;
}

.navActive {
  color: var(--secondary);
}

.iconHover {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
}

.iconHover:hover {
  opacity: .6;
}

.iconHoverNull {
  opacity: 1;
}

.bg {
  top: 0;
  background-image: url("./assets/images/aurora-dark.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  height: 150px;
}

.fontOne {
  font-family: 'Merriweather Sans', sans-serif;
}

.fontTwo {
  font-family: 'Source Serif Pro', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-top: 15px;
}

h3 {
  font-size: 30px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  margin: 5px;
}

.bodyFont {
  color: #c8bddc;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bodyFontAlt {
  color: #9983c1;
  margin-left: 15px;
  padding-top: 10px;
}

.imgGreg {
    max-width: 450px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to bottom, rgb(82, 40, 146), rgb(69, 37, 110));
    padding: 10px;
    opacity: 1;
    margin-bottom: 15px;
}

.inline {
  display: flex;
}

.gt {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  margin-bottom: 0px;
  font-size: 90px;
  color: gray;
  font-weight: bolder;
}

.marginBot {
  margin-bottom: 45px;
}

.marginTop {
  margin-top: 15px;
}

form {
  width: 500px;
  margin-left: 35px;
}

nav {
  z-index: 900;
}

.gray {
  color: whitesmoke;
}

.slightBot {
  margin-bottom: 10px;
}

button:hover {
  opacity: .6;
}

/* ///   ///    ///    ///    ///    ///   ///*/
/* Portfolio Styles from Gregorys Portfolio */ 

.main-container {
  display: flex;
  flex: 1 100%;
  flex-direction: column;
  align-items: stretch;
  width: 650px;
  height: 650px;
  margin-left: 77.5px;
}

.main-program {
  flex: 1 50%;
}

/* DIV BOX LABELS */

.main-program p {
  font-size: 26px;
  color: #7598da;
  background-color: #10006a;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.main-program span {
  font-size: 18px;
  color: #6b86c0;
}

.secondary p {
  flex-direction: column;
  justify-content: flex-end;
  font-size: 20px;
  color: #7598da;
  display: inline-flex;
  background-color: #10006a;
  align-items: center;
}

.secondary span {
  font-size: 13px;
  color: #6b86c0;
}

/* Div Link IDs for background images */

.screen-title {
  background-image: url("./assets/images/final-project-1-application.PNG");
  background-size: cover;
  opacity: .6;
}

.screen-title:hover {
  opacity: 1;
}

.citizenship {
  background-image: url("./assets/images/project-2-application.png");
  background-size: cover;
  opacity: .6;
}

.citizenship:hover {
  opacity: 1;
}

.calculator {
  background-image: url("./assets/images/codecademy-portfolio-project.png");
  background-size: cover;
  opacity: .6;
}

.calculator:hover {
  opacity: 1;
}

.pastel-puzzles {
  background-image: url("./assets/images/codecademy-portfolio-project.png");
  background-size: cover;
  opacity: .6;
}

.pastel-puzzles:hover {
  opacity: 1;
}

.run-buddy {
  background-image: url("./assets/images/codecademy-portfolio-project.png");
  background-size: cover;
  opacity: .6;
}

.run-buddy:hover {
  opacity: 1;
}

/* Div box labels END */

.other-container {
  display: flex;
  flex: 0 50%;
  flex-direction: column;
  justify-content: stretch;
}

.second-container, .third-container {
  display: flex;
  flex-direction: row;
  flex: 1 50%;
  justify-content: stretch;
  max-width: 100%;
}

.secondary {
  flex-direction: row;
  flex: 1 100%;
}

/* Portfolio styles END */ 
/* ///   ///    ///    ///    ///    ///   ///*/

.box {
  margin-bottom: 45px;
}

.fontTwoA {
  font-family: 'Source Serif Pro', serif;
  /* border: solid 10px #282828; */
}

.fontOneA {
  font-family: 'Merriweather Sans', sans-serif;
}

.pdf {
  height: 700px;
  width: 700px;
}

.marginLeft {
  margin-left: 45px;
}