:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --bg: #342547;
  --test: #2d2d2d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 85%;
}

nav a:hover {
  text-decoration: none;
}

.navStyle {
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.navStyle::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #7ebcde;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.navStyle:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

nav  li {
  cursor: pointer;
}

nav {
  width: 350px;
  border-bottom-right-radius: 500px;
}

.nav-wrapper {
  overflow-y: hidden !important;
}

textarea {
	width: 500px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
  resize: none;
  color: whitesmoke;
  margin-top: 20px;
}

.navActive {
  color: var(--secondary);
}

.iconHover, .socialHover {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
}

.iconHover:hover {
  border: 5px solid #8181b9;
  border-radius: 20px;
  transition: border .3s ease-in-out;
}

.socialHover:hover {
  opacity: .6;
}

.iconHoverNull {
  opacity: 1;
}

.bg {
  top: 0;
  background-image: url("./assets/images/aurora-dark.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  height: 150px;
}

.fontOne {
  font-family: 'Merriweather Sans', sans-serif;
}

.fontTwo {
  font-family: 'Source Serif Pro', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-top: 15px;
}

h3 {
  font-size: 30px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  margin: 5px;
}

.bodyFont {
  color: #c8bddc;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.width {
    margin-left: 30px;
}

.bodyFontAlt {
  color: #9983c1;
  margin-left: 15px;
  padding-top: 10px;
}

.imgGreg {
    max-width: 450px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to bottom, rgb(82, 40, 146), rgb(69, 37, 110));
    padding: 10px;
    opacity: 1;
    margin-bottom: 15px;
}

.inline {
  display: flex;
}

.gt {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  margin-bottom: 0px;
  font-size: 90px;
  color: gray;
  font-weight: bolder;
}

.marginBot {
  margin-bottom: 45px;
  margin-left: 30px;
}

.marginTop {
  margin-top: 15px;
}

form {
  width: 500px;
  margin-left: 35px;
}

nav {
  z-index: 900;
}

.gray {
  color: #c8bddc;
  font-size: 20px;
}

.slightBot {
  margin-bottom: 10px;
}

button:hover {
  opacity: .6;
}

/* ///   ///    ///    ///    ///    ///   ///*/
/* Portfolio Styles from Gregorys Portfolio */ 

.main-container {
  flex: 1 100%;
  flex-direction: column;
  align-items: stretch;
  width: 750px;
  border-radius: 100px;
  overflow: hidden;
}

.border {
  border: 8px solid #e0e0e051;
  border-radius: 125px;
  overflow: hidden;
}

.row {
  margin-bottom: 0px !important;
}

.row .col {
  padding: 0px !important;
}

.main-program {
  flex: 0 100%;
  min-height: 350px;
}

.colFlex {
  display: flex;
}

/* DIV BOX LABELS */
.secondary p {
  flex-direction: column;
  justify-content: flex-end;
  font-size: 25px;
  color: #0c051c;
  display: inline-flex;
  background-color: #e0d4ecb0;
  backdrop-filter: blur(10px);
  align-items: center;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top: 20px solid rgba(73, 73, 73, 0.8);
  border-width: 20px 0px 0px;
  border-image: repeating-linear-gradient( -45deg, transparent, transparent 5px, #3d3d3d 6px, #8f779b 40px) 25 0;
}

.secondary span {
  font-size: 18px;
  color: #1f3d7d;
  margin-right: 10px;
  margin-left: 10px;
}

/* Div Link IDs for background images */

.screen-title {
  background-image: url("./assets/images/screentitlescanner.png");
  background-size: cover;
  background-position: 65% 0;
  opacity: .6;
}

.screen-title:hover {
  opacity: 1;
}

.blackjack {
  background-image: url("./assets/images/blackjack.png");
  background-size: cover;
  opacity: .6;
}

.blackjack:hover {
  opacity: 1;
}

.citizenship {
  background-image: url("./assets/images/thoughtbubbleboards.png");
  background-size: cover;
  opacity: .6;
}

.citizenship:hover {
  opacity: 1;
}

.thought {
  background-image: url("./assets/images/ntatproject.png");
  background-size: cover;
  opacity: .6;
}

.thought:hover {
  opacity: 1;
}

.codeq {
  background-image: url("./assets/images/literatureleadsscreenshot.png");
  background-size: cover;
  opacity: .6;
}

.codeq:hover {
  opacity: 1;
}

.wo {
  background-image: url("./assets/images/Woscreenshot.jpg");
  background-size: cover;
  background-position: 35%;
  opacity: .6;
}

.wo:hover {
  opacity: 1;
}

/* Div box labels END */

.other-container {
  display: flex;
  flex: 0 50%;
  flex-direction: column;
  justify-content: stretch;
}

.second-container, .third-container {
  display: flex;
  flex-direction: row;
  flex: 1 50%;
  justify-content: stretch;
  max-width: 100%;
}

.secondary {
  flex-direction: row;
  flex: 1 100%;
  height: 350px;
}

.contact {
    font-size: 25px;
    border-bottom: 5px solid #463c56;
}

/* Portfolio styles END */ 
/* ///   ///    ///    ///    ///    ///   ///*/

.box {
  margin-bottom: 45px;
  display: flex;
}

.fontTwoA {
  font-family: 'Source Serif Pro', serif;
}

.fontOneA {
  font-family: 'Merriweather Sans', sans-serif;
  font-style: italic;
}

.pdf {
  height: 700px;
  width: 700px;
}

.marginLeft {
  margin-left: 45px;
}

.marginTop {
  margin-top: 100px;
}

.pointer {
  cursor: default;
}

/* MEDIA QUERY- smaller desktop screens and smaller */
@media screen and (max-width: 915px) {
  * {
    overflow-x: visible;
    overflow-y: visible;
  }

  .bg {
    background-size: 922px 489px;
    background-position: inherit;
    background-repeat: no-repeat;
  }

  .screen-title {
    background-size: cover;
    background-position: 65% 0;
    opacity: .9;
  }

  .blackjack, .citizenship, .thought, .codeq, .wo {
    opacity: .9;
  }

  .container {
    margin: 0px;
  }

  .main-container {
    flex: 1 35%;
    border-radius: 0px;
  }

  .secondary {
    border-top: 18px inset #808080;
  }

  .secondary p {
    font-size: 18px;
  }

  .secondary span {
    font-size: 15px;
  }

  .mobilePortfolio {
    height: 1600px;
  }

  .box {
    margin-left: 20px;
  }

  .mobileResume {
    height: 900px;
  } 

  .border {
    border-radius: 0px;
    border: 0px;
  }

  .pdf {
    width: 600px;
  }
}

/* MEDIA QUERY- tablets and smaller */
@media screen and (max-width: 822px) {
  * {
    overflow-x: visible;
    overflow-y: visible;
  }

  .blackjack, .citizenship, .thought, .codeq, .wo {
    opacity: .9;
  }

  .screen-title {
    background-size: 500px 400px;
    background-position: 10% 0;
    opacity: .9;
  }

  .bg {
    background-size: 837px 437px;
  }

  .container {
    margin: 0px;
  }

  .main-container {
    flex: 1 35%;
    border-radius: 0px;
    width: 500px;
  }

  .secondary {
    border-top: 18px inset #808080;
  }

  .secondary p {
    font-size: 18px;
  }

  .secondary span {
    font-size: 15px;
  }

  .mobilePortfolio {
    height: 1600px;
  }

  .box {
    margin-left: 20px;
  }

  .mobileResume {
    height: 900px;
  } 

  .border {
    border-radius: 0px;
    border: 0px;
  }

  .pdf {
    width: 600px;
  }
}

@media screen and (max-width: 770px) {
  .bodyFont {
    padding-right: 0px;
  }

  .bg {
    background-size: 773px 489px;
    background-position: inherit;
    background-repeat: no-repeat;
  }

  .blackjack, .citizenship, .thought, .codeq, .wo {
    background-size: 550px, 300px;
    background-repeat: no-repeat;
    background-position-x: left;
    opacity: .9;
  }

  .screen-title {
    background-size: 449px, 300px;
    background-repeat: no-repeat;
    background-position-x: left;
    opacity: .9;
  }
}

@media screen and (max-width: 540px) {
  * {
    overflow-x: hidden;
  }

  h3 {
    flex-direction: row;
  }

  .bg {
    background-size: contain;
  }

  .screen-title, .blackjack, .citizenship, .thought, .codeq, .wo {
    background-size: contain;
    background-repeat: inherit;
    background-position-x: left;
    opacity: .9;
  }

  .main-container {
    flex: 1 25%;
  }

  .border, .main-container {
    border-radius: 0px;
  }

  .secondary p {
    font-size: 18px;
  }

  .secondary span {
    font-size: 15px;
  }

  .main-program {
    flex: 1 35%;
  }

  .other-container {
    flex: 0 55%;
  }

  .mobileAbout {
    height: auto;
  }

  .bodyFont {
    font-size: 15px;
    line-height: 30px;
    margin-left: 37px;
    padding-right: 40px;
  }
  
  .container {
    margin-left: 30px;
  }

  .mobileContact {
    height: auto;
  }

  .mobilePortfolio {
    height: auto;
  }

  .mobileResume {
    height: auto;
  }

  h3 {
    flex: none;
    margin-left: 0px;
  }

  .bodyFontAlt {
    margin-left: 0px;
    height: 75px;
    padding-left: 50px;
    margin-top: 7px;
    padding-top: 20px;
    margin-bottom: 0px;
  }

  .bodyFont {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  section {
    display: block;
    margin: 0px;
  }

  form {
    width: 350px;
    padding-left: 0px;
    margin-left: 15px;
    padding-left: 17px
  }

  textarea {
    width: 325px;
  }

  .width {
    width: 325px;
  }

  .pdf {
    height: 550px;
    width: 450px;
  }

  .box {
    margin-left: 0px;
  }

  .marginLeft {
    margin-left: 41px;
  }
}

/* MEDIA QUERY - Phones and smaller */ 

@media screen and (max-width: 450px) {
  * {
    overflow-x: hidden;
  }

  h3 {
    flex-direction: row;
  }

  .bg {
    background-size: contain;
  }

  .citizenship, .thought, .codeq, .wo {
    background-size: 400px, 300px;
    background-repeat: no-repeat;
    background-position-x: left;
    opacity: .9;
  }

  .blackjack {
    background-size: 300px, 200px;
    background-position: 25% 90%;
    opacity: .9;
  }

  .screen-title {
    background-size: 350px, 250px;
    background-position: 0% 25%;
    opacity: .9;
  }

  .main-container {
    flex: 1 25%;
  }

  .border, .main-container {
    border-radius: 0px;
  }

  .secondary p {
    font-size: 18px;
  }

  .secondary span {
    font-size: 15px;
  }

  .main-program {
    flex: 1 35%;
  }

  .other-container {
    flex: 0 55%;
  }

  .mobileAbout {
    height: auto;
  }

  .bodyFont {
    font-size: 15px;
    line-height: 30px;
    margin-left: 37px;
  }
  
  .container {
    margin-left: 30px;
  }

  .mobileContact {
    height: auto;
  }

  .mobilePortfolio {
    height: auto;
  }

  .mobileResume {
    height: auto;
  }

  h3 {
    flex: none;
    margin-left: 0px;
  }

  .bodyFontAlt {
    margin-left: 0px;
    height: 75px;
    padding-left: 50px;
    margin-top: 7px;
    padding-top: 20px;
    margin-bottom: 0px;
  }

  .bodyFont {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  section {
    display: block;
    margin: 0px;
  }

  form {
    width: 350px;
    padding-left: 0px;
    margin-left: 15px;
    padding-left: 17px
  }

  textarea {
    width: 325px;
  }

  .width {
    width: 325px;
  }

  .pdf {
    height: 350px;
    width: 350px;
  }

  .box {
    margin-left: 0px;
  }

  .marginLeft {
    margin-left: 15px;
  }
}

@media screen and (max-width: 414px) {
  * {
    overflow-x: hidden;
  }

  .border, .main-container {
    border-radius: 0px;
  }

  .bg {
    background-size: contain;
  }

  .secondary p {
    font-size: 18px;
  }

  .secondary span {
    font-size: 15px;
  }

  .main-program {
    min-height: 200px;
  }

  .secondary {
    height: 200px;
  }

  .container {
    margin-left: 30px;
  }

  h3 {
    flex-direction: row;
  }

  .main-container {
    flex: 1 25%;
  }

  .main-program {
    flex: 1 35%;
  }

  .other-container {
    flex: 0 55%;
  }

  .bodyFont {
    font-size: 15px;
    line-height: 30px;
    margin-left: 37px;
  }

  h3 {
    flex: none;
    margin-left: 0px;
  }

  .bodyFontAlt {
    margin-left: 0px;
    height: 75px;
    padding-left: 50px;
    margin-top: 7px;
    padding-top: 20px;
    margin-bottom: 0px;
  }

  .bodyFont {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  section {
    display: block;
    margin: 0px;
  }

  form {
    width: 350px;
    padding-left: 0px;
    margin-left: 15px;
    padding-left: 17px
  }

  textarea {
    width: 325px;
  }

  .width {
    width: 325px;
  }

  .pdf {
    height: 350px;
    width: 350px;
  }

  .box {
    margin-left: 0px;
  }

  .marginLeft {
    margin-left: 22px;
  }
}

@media screen and (max-width: 394px) {
  * {
    overflow-x: hidden;
  }

  .border, .main-container {
    border-radius: 0px;
  }

  .bg {
    background-size: contain;
  }

  .secondary p {
    font-size: 18px;
  }

  .secondary span {
    font-size: 15px;
  }

  h3 {
    flex-direction: row;
  }

  .main-container {
    flex: 1 25%;
  }

  .container {
    margin-left: 30px;
  }

  .main-program {
    flex: 1 35%;
  }

  .other-container {
    flex: 0 55%;
  }

  .bodyFont {
    font-size: 15px;
    line-height: 30px;
    margin-left: 37px;
  }

  h3 {
    flex: none;
    margin-left: 0px;
  }

  .bodyFontAlt {
    margin-left: 0px;
    height: 75px;
    padding-left: 50px;
    margin-top: 7px;
    padding-top: 20px;
    margin-bottom: 0px;
  }

  .bodyFont {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  section {
    display: block;
    margin: 0px;
  }

  form {
    width: 350px;
    margin-left: 15px;
    padding-left: 6px
  }

  textarea {
    width: 325px;
  }

  .width {
    width: 325px;
  }

  .pdf {
    height: 350px;
    width: 350px;
  }

  .box {
    margin-left: 0px;
  }

  .marginLeft {
    margin-left: 20px;
  }
}

@media screen and (max-width: 379px) {
  * {
    overflow-x: hidden;
  }

  .border, .main-container {
    border-radius: 0px;
  }

  .bg {
    background-size: contain;
  }

  .screen-title, .blackjack, .citizenship, .thought, .codeq, .wo {
    background-size: 400px, 300px;
    background-repeat: no-repeat;
    background-position-x: left;
    opacity: .9;
  }

  .secondary p {
    font-size: 18px;
  }

  .secondary span {
    font-size: 15px;
  }

  .secondary {
    border-top: 4px solid #808080;
  }

  h3 {
    flex-direction: row;
  }

  .main-container {
    flex: 1 25%;
  }
  
  .container {
    margin-left: 30px;
  }

  .main-program {
    flex: 1 100%;
    height: 200px;
  }

  .other-container {
    flex: 0 55%;
  }

  .bodyFont {
    font-size: 15px;
    line-height: 30px;
    margin-left: 37px;
  }

  h3 {
    flex: none;
    margin-left: 0px;
  }

  .bodyFontAlt {
    margin-left: 0px;
    height: 75px;
    padding-left: 50px;
    margin-top: 7px;
    padding-top: 20px;
    margin-bottom: 0px;
  }

  .bodyFont {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

  section {
    display: block;
    margin: 0px;
  }

  form {
    width: 350px;
    padding-left: 0px;
    margin-left: 15px;
    padding-left: 5px
  }

  textarea {
    width: 280px;
  }

  .width {
    width: 280px;
  }

  .pdf {
    height: 350px;
    width: 320px;
  }

  .box {
    margin-left: 0px;
  }

  .marginLeft {
    margin-left: 22px;
  }

  .marginBot {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 365px) {
  * {
    overflow-x: hidden;
  }

  .border, .main-container {
    border-radius: 0px;
  }

  .bg {
    background-size: contain;
  }

  .screen-title, .blackjack, .citizenship, .thought, .codeq, .wo {
    background-size: 400px, 300px;
    background-repeat: no-repeat;
    background-position-x: left;
    opacity: .9;
  }

  .secondary p {
    font-size: 18px;
  }

  .secondary span {
    font-size: 15px;
  }

  h3 {
    flex-direction: row;
  }

  .main-container {
    flex: 1 25%;
  }

  .container {
    margin-left: 30px;
  }

  .main-program {
    flex: 1 35%;
  }

  .other-container {
    flex: 0 55%;
  }

  .bodyFont {
    font-size: 15px;
    line-height: 30px;
    margin-left: 37px;
  }

  h3 {
    flex: none;
    margin-left: 0px;
  }

  .bodyFontAlt {
    margin-left: 0px;
    height: 75px;
    padding-left: 50px;
    margin-top: 7px;
    padding-top: 20px;
    margin-bottom: 0px;
  }

  .bodyFont {
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 30px;
    padding-right: 25px;
    padding-left: 0px;
  }

  section {
    display: block;
    margin: 0px;
  }

  form {
    width: 350px;
    padding-left: 0px;
    margin-left: 15px;
    padding-left: 5px
  }

  textarea {
    width: 280px;
  }

  .width {
    width: 280px;
  }

  .pdf {
    height: 350px;
    width: 340px;
  }

  .box {
    margin-left: 0px;
  }

  .marginLeft {
    margin-left: 9px;
  }
}

@media screen and (max-width: 280px) {
  nav ul {
    font-size: 11px;
  }

  a {
    font-size: 40px;
  }

  form, .width, textarea {
    width: 230px;
  }

  .gt {
    font-size: 0px;
  }

  .pdf {
    width: 265px;
    height: 275px;
  }
}