:root {
  --primary: #8c54ff;
  --secondary: #F3A847;
  --bg: rgb(52, 37, 71);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav a:hover {
  text-decoration: none;
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 500px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
  resize: none;
  color: gray;
  margin-top: 20px;
}

.navActive {
  color: var(--secondary);
}

.iconHover {
  margin-left: 10px;
  margin-right: 10px;
  opacity: 1;
}

.iconHover:hover {
  opacity: .6;
}

.iconHoverNull {
  opacity: 1;
}

.bg {
  top: 0;
  background-image: url("./assets/images/aurora-dark.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  height: 150px;
}

.fontOne {
  font-family: 'Merriweather Sans', sans-serif;
}

.fontTwo {
  font-family: 'Source Serif Pro', serif;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-top: 15px;
}

h3 {
  font-size: 30px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  margin: 5px;
}

.bodyFont {
  color: #c8bddc;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.bodyFontAlt {
  color: #9983c1;
  margin-left: 15px;
  padding-top: 10px;
}

.imgGreg {
    max-width: 450px;
    padding: 1rem;
    position: relative;
    background: linear-gradient(to bottom, rgb(82, 40, 146), rgb(69, 37, 110));
    padding: 10px;
    opacity: 1;
    margin-bottom: 15px;
}

.inline {
  display: flex;
}

.gt {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  margin-bottom: 0px;
  font-size: 90px;
  color: gray;
  font-weight: bolder;
}

.marginBot {
  margin-bottom: 25px;
}

.marginTop {
  margin-top: 15px;
}

form {
  width: 500px;
  margin-left: 35px;
}

nav {
  z-index: 900;
}

.gray {
  color: gray;
}

.slightBot {
  margin-bottom: 10px;
}

input[type=text]:focus {
  border-bottom: 3px solid gray !important;
  box-shadow: none !important;
}

button:hover {
  opacity: .6;
}